[Desktop Entry]
Type=Application
Name=librepods
Exec=/home/bakr/Repos/librepods/build/librepods --hide
Icon=librepods
Comment=librepods autostart
X-GNOME-Autostart-enabled=true
Terminal=false
